<h1>
  New Game
</h1>
<p>
  <div class="test">
    <% @letters.each do |letter| %>
    <div class="single-letter">
      <%= letter.strip %>
    </div>
    <% end %>
  </div>

  <div class="form-answer">
    <p>What is the longest word you can find?</p>
    <form action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters.split  %>
      <input type="text" name="word" placeholder="Type your word">
      <input type="submit" value="Ask!">
    </form>
  </div>
</p>
